@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #444C38; 
  --color-secondary: #4CBB17; 
  --color-accent:  #43c522; 
  --color-base-200: #fafccc; 
  --color-base-300:#8FBC8B; 
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #C9D6BC;       
  --color-secondary: #a2e76e;    
  --color-accent:  #4ADE80;       
  
  --color-base-200: #1A1F16;      
  --color-base-300: #2A3324;     
}